@charset "UTF-8";

section.Inicial{
	margin: 60px auto;
	width: 60%;
}

div.row{
	margin-top: 50px;
}

a{
	text-decoration: none;
}

/* link que ainda não foi visitado */
a:link {
   color: black;
}

/* link que foi visitado */
a:visited {
    color: black;
}

/* mouse over */
a:hover {
    color: black;
}

/* link selecionado */
a:active {
    color: black;
}